{% extends 'base.html' %}
{% block title %}<title>Wraith | Server dashboard</title>{% endblock title %}

{% block content %}
<body onload="DefaultRconPort(), ValidatePort()">
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Add
        <small>add server to wraith dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Server</a></li>
        <li class="active">Add server</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-11">
        <div class="col-md-30">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Add server form</h3>
            </div>
            <form name="form" action="{{url_for('add_server')}}"class="form-horizontal" autocomplete="off" method="POST">
              <div class="box-body">
                <div class="form-group">
                  <label id='nameLabel' for="name" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Server name/description">
                  </div>
                </div>
                <div id="ipA" class="form-group">
                  <label id="ipALabel" for="ipAddress" class="col-sm-2 control-label">IP adress</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="ipAddress" name="ipAddress" oninput="ValidateIPaddress(document.form.ipAddress)" placeholder="Server ip address e.g. 192.168.0.2">
                    <span id='ipAhb' class="help-block"></span>
                  </div>
                </div>
                <div id="rconPss" class="form-group">
                  <label id="rconPLabel" for="rconPass" class="col-sm-2 control-label">RCON pass</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="rconPass" name="rconPass" oninput="ValidatePassword(document.form.rconPass, document.form.rconPss)" placeholder="Password for RCON protocol">
                  </div>
                </div>
                <div id="rconP" class="form-group">
                  <label id='rconLabel' for="rconPort" class="col-sm-2 control-label">RCON port</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="rconPort" name="rconPort" oninput="ValidatePort()">
                    <span class="help-block">Default rcon port for this game.</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Game</label>
                  <div class="col-sm-2">
                    <select id="gameType" name="gameType"  onChange="DefaultRconPort()" class="form-control">
                    <option>Minecraft</option>
                    <option>Rust</option>
                  </select>                  
                  </div>
                </div>
                
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-success pull-right">Add server</button>
              </div>
            </form>
          </div>
          
    </section>
  </div>

  </aside>
  <script>
  function DefaultRconPort(){
    var e = document.getElementById("gameType");
    var value = e.options[e.selectedIndex].value;
    
    switch(value){
      case 'Minecraft':
        document.getElementById('rconPort').value = '25575';
        break;
      case 'Rust':
        document.getElementById('rconPort').value = '28025';
    }
  }
  
  function ValidatePassword(rconPass){
    var x = rconPass;
  
    if(x.value.length < 8){
      document.getElementById("rconPss").classList.add('has-error');
      document.getElementById("rconPLabel").innerHTML = '<i class="fa fa-times"></i> Rcon password'
    }else{
      document.getElementById("rconPss").classList.remove('has-error');
      document.getElementById("rconPss").classList.add('has-success');
      document.getElementById("rconPLabel").innerHTML = '<i class="fa fa-check"></i> Rcon password'
    }
  }

  function ValidatePort(){
    if(isNaN(document.getElementById('rconPort').value)){
      document.getElementById("rconP").classList.add('has-error');
      document.getElementById('rconLabel').innerHTML = '<i class="fa fa-times"></i> Rcon port';
      return(false)
    }else{
      document.getElementById("rconP").classList.remove('has-error');
      document.getElementById("rconP").classList.add('has-success');
      document.getElementById('rconLabel').innerHTML = '<i class="fa fa-check"></i> Rcon port';
      return(true)
    }
  }

  function ValidateIPaddress(ipaddress){
    if(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipAddress.value)){
      document.getElementById("ipA").classList.remove('has-error');
      document.getElementById("ipA").classList.add('has-success');
      document.getElementById('ipALabel').innerHTML = '<i class="fa fa-check"></i> Ip adress';
      document.getElementById("ipAhb").textContent = ''
      return (true)
    }
    document.getElementById("ipA").classList.add('has-error');
    document.getElementById("ipAhb").textContent = 'Please enter a valid ip address!';
    document.getElementById('ipALabel').innerHTML = '<i class="fa fa-times"></i> Ip adress';
    return (false)
  }
  </script>
{% endblock content %}