{% extends 'base.html' %}
{% block title %}<title>Wraith | Server dashboard</title>{% endblock title %}

{% block content %}
<body onload="DefaultRconPort(), ValidatePort()">
<div class="wrapper">
  <header class="main-header">
    <a href="../../index2.html" class="logo">
      <span class="logo-mini"><b>W</b>TH</span>
      <span class="logo-lg"><b>Wraith</b></span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a>
              <img src="../../dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Admin</span>
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-sign-out"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-plus"></i> <span>Add server</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-server"></i>
            <span>Servers</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Server name</a></li>
          </ul>
        </li>
        <li>
          <a href="../widgets.html">
            <i class="fa fa-users"></i> <span>Users</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Groups</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Add
        <small>add server to wraith dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Server</a></li>
        <li class="active">Add server</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <div class="col-md-11">
        <div class="col-md-30">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Add server form</h3>
            </div>
            <form name="form" class="form-horizontal" autocomplete="off" method="POST">
              <div class="box-body">
                <div class="form-group">
                  <label id='nameLabel' for="name" class="col-sm-2 control-label">Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="name" placeholder="Server name/description">
                  </div>
                </div>
                <div id="ipA" class="form-group">
                  <label id="ipALabel" for="ipAddress" class="col-sm-2 control-label">IP adress</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="ipAddress" name="ipAddress" oninput="ValidateIPaddress(document.form.ipAddress)" placeholder="Server ip address e.g. 192.168.0.2">
                    <span id='ipAhb' class="help-block"></span>
                  </div>
                </div>
                <div id="rconPss" class="form-group">
                  <label id="rconPLabel" for="rconPass" class="col-sm-2 control-label">RCON pass</label>
                  <div class="col-sm-6">
                    <input type="password" class="form-control" id="rconPass" oninput="ValidatePassword(document.form.rconPass, document.form.rconPss)" placeholder="Password for RCON protocol">
                  </div>
                </div>
                <div id="rconP" class="form-group">
                  <label id='rconLabel' for="rconPort" class="col-sm-2 control-label">RCON port</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" id="rconPort" oninput="ValidatePort()">
                    <span class="help-block">Default rcon port for this game.</span>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Game</label>
                  <div class="col-sm-2">
                    <select id='gameType' onChange="DefaultRconPort()" class="form-control">
                    <option>Minecraft</option>
                    <option>Rust</option>
                  </select>                  
                  </div>
                </div>
                
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-success pull-right">Add server</button>
              </div>
            </form>
          </div>
          
    </section>
  </div>

  </aside>
  <script>
  function DefaultRconPort(){
    var e = document.getElementById("gameType");
    var value = e.options[e.selectedIndex].value;
    
    switch(value){
      case 'Minecraft':
        document.getElementById('rconPort').value = '25575';
        break;
      case 'Rust':
        document.getElementById('rconPort').value = '28025';
    }
  }
  
  function ValidatePassword(rconPass){
    var x = rconPass;
  
    if(x.value.length < 8){
      document.getElementById("rconPss").classList.add('has-error');
      document.getElementById("rconPLabel").innerHTML = '<i class="fa fa-times"></i> Rcon password'
    }else{
      document.getElementById("rconPss").classList.remove('has-error');
      document.getElementById("rconPss").classList.add('has-success');
      document.getElementById("rconPLabel").innerHTML = '<i class="fa fa-check"></i> Rcon password'
    }
  }

  function ValidatePort(){
    if(isNaN(document.getElementById('rconPort').value)){
      document.getElementById("rconP").classList.add('has-error');
      document.getElementById('rconLabel').innerHTML = '<i class="fa fa-times"></i> Rcon port';
      return(false)
    }else{
      document.getElementById("rconP").classList.remove('has-error');
      document.getElementById("rconP").classList.add('has-success');
      document.getElementById('rconLabel').innerHTML = '<i class="fa fa-check"></i> Rcon port';
      return(true)
    }
  }

  function ValidateIPaddress(ipaddress){
    if(/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipAddress.value)){
      document.getElementById("ipA").classList.remove('has-error');
      document.getElementById("ipA").classList.add('has-success');
      document.getElementById('rconPort').innerHTML = '<i class="fa fa-check"></i> Ip adress';
      document.getElementById("ipAhb").textContent = ''
      return (true)
    }
    document.getElementById("ipA").classList.add('has-error');
    document.getElementById("ipAhb").textContent = 'Please enter a valid ip address!';
    document.getElementById('ipALabel').innerHTML = '<i class="fa fa-times"></i> Ip adress';
    return (false)
  }
  </script>
{% endblock content %}