{% extends 'base.html' %}
{% block title %}<title>Wraith | add server</title>{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
      <h1>
        Servers
        <small>Configure and manage your game servers</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{url_for('logged')}}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Servers</li>
      </ol>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="box-tools">
              </div>
            </div>
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Game</th>
                  <th>Players online</th>
                  <th>Slots</th>
                  <th>Status</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>A Minecraft Server</td>
                  <td><img src="{{url_for('static', filename='games_icon/mc.png')}}" alt="Minecraft" width="20" height="20"></td>
                  <td>2</td>
                  <td>20</td>
                  <td><span class="label label-success">RUNNING</span></td>
                  <td><button type="button" class="btn-xs bg-navy btn-flat btn btn-primary">More info</button></td>
                  <td><a href="#"><i style="color:#605ca8;" class="fa fa-edit"></i></td></a>
                  <td><a href="#"><i style="color:#f56954;"class="fa fa-times"></i></td></a>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}