{% extends 'layout.html' %}
{% block title %}<title>Login page</title>{% endblock title %}


{% block body %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Admin</b>LTE</a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form action="#" method="post">
    {{ form.csrf_token }}
    {% with messages = get_flashed_messages(with_categories=true) %}
						{% if messages %}
							{% for category, message in messages %}
								<div class = "alert alert-{{ category }}">
									{{ message }}
								</div>
							{% endfor %}
						{% endif %}
					{% endwith %}
      <div class="form-group has-feedback">
            {% if form.username.errors %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                    </div>
            {% else %}
              {{ form.username(class="form-control form-control-lg") }}
            {% endif %}
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                    </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              {{ form.remember_me(class="form-check-input") }}
              {{ form.remember_me.label(class="form-check-label") }}
          </div>
        </div>
        <div class="col-xs-4">
          {{ form.submit(class='btn btn-primary btn-block btn-flat') }}
        </div>
      </div>
    </form>
    <a href="#">I forgot my password</a><br>
  </div>
</div>
<script src="{{url_for('static', filename='bower_components/jquery/dist/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/iCheck/icheck.min.js')}}"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%'
    });
  });
</script>
</body>
{% endblock body %}
